{% if GOODREADS_ACTIVITY_FEED %}
    <h2>{{ goodreads_activity.shelf_title }}</h2>
    {% for book in goodreads_activity.books %}
        <img src="{{book.s_cover}}"/>
        <header>{{book.title}}<small> by {{book.author}}</small></header>
        <article>{{book.description|truncate(end='')}}
        <a href={{book.link}} target="_blank">...more</a></article>
    {% endfor %}
{% endif %}
