{% include "includes/" + CUSTOM_SIDEBAR_TOP|default("sidebar_top.html") ignore missing %}

<div class="row">

{% if CUSTOM_SOCIAL %}
{% set socialinc = "includes/" + CUSTOM_SOCIAL %}
{% include socialinc %}
{% elif SOCIAL %}
<div class="col-xs-6 col-md-12">
<h4><i class="fa fa-comment fa-fw fa-lg"></i> Social</h4>
<ul class="list-unstyled social-links">
{#  {% for name, link, icon in SOCIAL %} #}
  {% for item in SOCIAL %}
    <li><a href="{{ item[1] }}" target="_blank">
	  <i class="{{ item[2]|default("fa fa-comments fa-fw fa-lg") }}" title="{{ item[0] }}"></i>
		{{ item[0] }}
	</a></li>
  {% endfor %}
</ul>
{% endif %}

{% include "includes/fbpage.html" ignore missing %}
{% include "includes/twfeed.html" ignore missing %}

{% if not SIDEBAR_HIDE_CATEGORIES %}
<div class="col-xs-6 col-md-12">
<h4><i class="fa fa-folder fa-fw fa-lg"></i> Categories</h4>
<ul class="list-unstyled category-links">
{% for cat, null in categories %}
  <li><a href="{{ SITEURL }}/{{ cat.url }}" >
    <i class="fa fa-folder-open fa-fw fa-lg"></i> {{ cat }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}

</div> <!-- /row -->

{% if LINKS %}
<h4><i class="fa fa-link fa-fw fa-lg"></i> Links</h4>
<ul class="list-unstyled category-links">
{% for title, url in LINKS %}
  <li><a href={{ url  }} >
    <i class="fa fa-fw fa-external-link-square fa-lg"></i> {{ title }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if not SIDEBAR_HIDE_TAGS %}
<h4><i class="fa fa-tags fa-fw fa-lg"></i> Tags</h4>
<p class="tag-cloud">
{% for tag in tag_cloud %}
<span class="tag-{{ tag.1 }}">
    <a href="{{ SITEURL }}/{{ tag.0.url }}">
        <i class="fa fa-tag fa-fw fa-lg"></i>{{ tag.0 }}
    </a>
</span>
{% endfor %}
</p>
{% endif %}

{% if FEED_ALL_ATOM or FEED_ALL_RSS %}
<h4><i class="fa fa-rss fa-fw fa-lg"></i> Feeds</h4>
<ul class="list-unstyled">
  {% if FEED_ALL_ATOM %}
    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" 
		   type="application/atom+xml" rel="alternate">
		<i class="fa fa-rss-square fa-fw fa-lg"></i> Atom Feed</a></li>
  {% endif %}
  {% if FEED_ALL_RSS %}
    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" 
		   type="application/rss+xml" rel="alternate">
		<i class="fa fa-rss-square fa-fw fa-lg"></i> RSS feed</a></li>
  {% endif %}
</ul>
{% endif %}

<hr />

{% include "includes/" + CUSTOM_SIDEBAR_BOTTOM|default("sidebar_bottom.html") ignore missing %}
