body{
    background: url('../img/LAST_40pct.png') no-repeat 0 0 scroll;
    background-color:#ffffff;
    background-position: center;
}


.navbar {
    font-size: 20px;
	margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


img {
    padding: 10px 0px 26px;
}

img[alt^="Inline"] {
    width: 75%;
}

#content {
    padding-right: 50px; 
    line-height: 26px;
}

#content p {
    font-size: 20px;
    margin-bottom: 24px;
  }

#content ul {
#    list-style-type: none;
#    padding-left: 20px;
}

#content li{
    font-size: 18px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

#content li:before.not("#partslist") {
#    position: absolute:
#    top: 0;
#    left: 0;
#    padding-right: 10px;
#    font-family: FontAwesome;
#    content: "\f140";
}

p.standfirst {
    font-size: 24px !important;
    font-weight: 700;
}

#site-colophon {
    font-size: 12px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.article-header-date, .article-header-info {
    font-size: 20px;
	color: #999;
}

.social-links {
	font-size: 18px;
}

.category-links {
	font-size: 18px;
}

.tag-1 {
	font-size: 14pt;
}
.tag-2 {
	font-size: 12pt;
}
.tag-3 {
	font-size: 10pt;
}
.tag-4 {
	font-size: 8pt;
}

.tag-cloud {
    line-height: 15px;
}

.article-tag-list {
    padding-top: 15px;
}

.home-top {
	margin-top: 20px;
}

#sidebar h4 {
    margin-top: 20px;
}

#site-footer {
    background: #eee;
    border-top: 1px dotted #999;
    margin-top: 40px;
    padding-top: 20px;
}

/*
 * My preference for code blocks is no line wraps and horizontal scrolling.
 */
#content pre {
    border-left: 5px solid #999;
    overflow-x: auto;
    padding-left: 20px;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
}

dt {
  margin-top: 10px;
}