<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block metadesc %}{{ DEFAULT_METADESC|e }}{% endblock %}" />
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="generator" content="Pelican (VoidyBootstrap theme)" />
	{% block meta_other %}{% endblock %}
    {% if OPEN_GRAPH_FB_APP_ID %}
    <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
    {% endif %}
	{% block open_graph %}
      <!-- Open Graph -->
      {% if OPEN_GRAPH %}
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ SITENAME|striptags|e }}"/>
        <meta property="og:url" content="{{ SITEURL }}"/>
        {% if DEFAULT_METADESC %}
        <meta property="og:description" content="{{ DEFAULT_METADESC|e }}"/>
        {% endif %}
        {% if OPEN_GRAPH_IMAGE %}
        <meta property="og:image"
              content="{{ SITEURL }}/images/{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
      {% endif %}
    {% endblock %}

    <title>{% block title %}{{ SITENAME }} - {{ SITETAG|escape }}{% endblock %}</title>

    {% if not SKIP_DEFAULT_CSS %}   
      {% if BOOTSTRAP_STYLESHEET %} 
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ BOOTSTRAP_STYLESHEET }}" />
      {% else %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
      {% endif %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />  
    {% endif %}

    {% for url in STYLESHEET_URLS %}
      <link rel="stylesheet" href="{{ url }}" />
    {% endfor %}

    {% if not STYLESHEET_FILES and STYLESHEETS %}   
      {% set STYLESHEET_FILES = STYLESHEETS %}
    {% endif %}
    {% for css in STYLESHEET_FILES %}
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ css }}" />
    {% endfor %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" />
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% include 'includes/analytics.html' %}

  </head>

  <body>
{% if not SKIP_DEFAULT_NAVIGATION %}   
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
	   <div class="navbar-header">
		<button type="button" class="navbar-toggle" 
				data-toggle="collapse" data-target="#main-navbar-collapse">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ SITEURL }}/" rel="home">
          <i class="fa fa-home fa-fw fa-lg"> </i> {{ HOME_LABEL|default('') }}</a>
       </div>

      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav">
          {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for item in PAGES %}
              {% if page is defined and page.url == item.url %}
              <li class="active">
              {% else %}
              <li>
              {% endif %}
                <a href="{{ SITEURL }}/{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
            <li class="divider"></li>
          {% endif %}
            <li class="{% block archive_active %}{% endblock %}">
              <a href="{{ SITEURL }}/{{ ARCHIVES_URL|default('archives.html') }}">Archives</a>
            </li>
          <li class="divider"></li>
          {% if FEED_ALL_ATOM %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" 
                   type="application/atom+xml" rel="alternate">
                <i class="fa fa-rss fa-fw fa-lg"></i> </a></li>
          {% endif %}
        </ul> <!-- /nav -->
      </div> <!-- /navbar-collapse -->
	  </div> <!-- /container -->
    </nav> <!-- /navbar -->
{% endif %}

    {% for file in CUSTOM_SITE_HEADERS %}
	  {% include "includes/" + file %}
    {% else %}
      {% include "includes/jumbotron.html" %}
    {% endfor %}

    {% block custom_header %}
	{% endblock %}

    <div class="container" id="main-container">
      {% block container_header %}
	  {% endblock %}
{% if SIDEBAR %}
        {% if SIDEBAR_SIZE is defined and SIDEBAR_SIZE < 12 %}
          {% set CONTENT_COLS = 12 - SIDEBAR_SIZE %}
        {% endif %}
      <div class="row">
        <div class="col-md-{{ CONTENT_COLS|default(9) }}" id="content">
{% else %}
        <div class="" id="content">
{% endif %}
		    {% block content_header %}
			{% endblock %}
            {% block content_body %}
            {% endblock %}
            {% block content_footer %}
            {% endblock %}
        </div><!-- /content -->

{% if SIDEBAR %}
        <div class="col-md-{{ SIDEBAR_SIZE|default(3) }} sidebar-nav" id="sidebar">
          {% include "includes/" + SIDEBAR %}
        </div><!--/sidebar -->
      </div><!--/row-->
{% endif %}
      {% block container_footer %}
	  {% endblock %}
    </div><!--/.container /#main-container -->

    <footer id="site-footer">
      {% include 'includes/' + CUSTOM_FOOTER|default('footer.html') ignore missing %} 
      <address id="site-colophon">
        <p class="text-center text-muted">
        Site built using <a href="http://getpelican.com/" target="_blank">Pelican</a>
        &nbsp;&bull;&nbsp; Theme based on
        <a href="http://www.voidynullness.net/page/voidy-bootstrap-pelican-theme/"
           target="_blank">VoidyBootstrap</a> by 
        <a href="http://www.robertiwancz.com/"
           target="_blank">RKI</a>  
        </p>
      </address><!-- /colophon  -->
    </footer>

    {% include 'includes/piwik.html' %}
    {% include 'includes/disqus_script.html' %}

    <!-- javascript -->
    {% if not SKIP_DEFAULT_JS %}   
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% endif %}

    {% for url in JAVASCRIPT_URLS %}
	<script src="{{ url }}"></script>
    {% endfor %}
    {% for js in JAVASCRIPT_FILES %}
    <script src="{{ SITEURL }}/theme/js/{{ js }}" ></script>
    {% endfor %}

    {% block scripts %}
    {% endblock %}
    {% if CUSTOM_SCRIPTS_BASE %}
    {% include "includes/" + CUSTOM_SCRIPTS_BASE %}
    {% endif %}
  </body>
</html>
